<body>
  <form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
    <input type="text" name="skillName" value="<%= skill.skillName %>">
    <button type="submit">Update skill</button>
  </form>
</body>
