
<body>
  <h3><%= skill.skillName %></h3>
  <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>

  <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Skill</button></form>
    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
</body>



